body{
  background-image: linear-gradient(lemonchiffon, lightsalmon);
  text-align: center;
}
table {
  border-color: black;
  border-collapse: collapse;
  margin-left: auto; 
  margin-right:auto; 
  align-content: center;  
  border-style: hidden;
}

table, th, td {
  padding: 3px;
}

td{
  border-style: dotted;
}


h1{
  text-align: center;
  color: orange;
}

.videoH{
  color: teal;
  font-style: italic;
}


.navlist{
  list-style-type: none;
  display: inline;
  background-color: lavender;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}

.navlist li{

  float: left;
}

ol{
  text-align: center;
  list-style-position: inside;
}
  
.navlist li a{
  display: block;
color:blue;
padding: 14p 16px;
text-decoration: none;
text-align: center;
}
.navlist li a:hover{
color:red;
}

