table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

h1{
  color:orange;
}

ul{
  list-style-type: none;
  display: inline;
}
li a{
color:blue;
}
li a:hover{
color:red;
}